* {
  margin: 0;
  padding: 0;
}
body {
  font-family: verdana;
  background-color: black;
}

.button {
  width: 50px;
  height: 50px;
  font-size: 25pt;
  color: white;
  background-color: black;
  margin: 5px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

.textview {
  padding: 5px;
  font-size: 25pt;
  margin: 5px;
  width: 230px;
  border-radius: 5px;
}

.main {
  position: absolute;
  margin: 10px;
  background: url(../Calculadora/img/backgroud.png);
  padding: 10px;
  border-radius: 30px;
}

#C {
  color: red;
}
